# üìò 01 - Scalar Types

Review and practice working with Python's basic scalar data types.

## ‚úÖ Learning Goals
- Recognize scalar types (`int`, `float`, `str`, `bool`)
- Use the `type()` function to identify types
- Use variables and assignment

In [ ]:
# üîß Define some variables
num = 42
pi = 3.14159
name = 'Python'
is_cool = True

In [ ]:
# üîç Check their types
print(type(num))
print(type(pi))
print(type(name))
print(type(is_cool))

### ‚úèÔ∏è Your Turn
Create your own variables of each type and print them.

In [6]:
num = 6
gas = 3.29
name = 'Dane Fitzgerald'
is_cool = False

print(type(num), num)
print(type(gas), gas)
print(type(name), name)
print(type(is_cool), is_cool)

<class 'int'> 6
<class 'float'> 3.29
<class 'str'> Dane Fitzgerald
<class 'bool'> False

## ‚öñÔ∏è Comparison Practice
Use comparison operators to check values.

In [ ]:
x = 10
y = 5
print(x > y)
print(x == y)
print(x != y)

## üß† Quick Check
What will the following print?
```python
print(3.0 == 3)
```

True