<a href="https://colab.research.google.com/github/DaneO99/DataScience/blob/master/Assignments/02-Working_with_Data/03-Data_Types_and_Arithmetic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìò 03 - Data Types and Arithmetic

Explore Python basics like variables, data types, and arithmetic operations.

## ‚úÖ Learning Goals
- Understand Python data types
- Use variables and print statements
- Perform basic arithmetic

In [ ]:
# üß† Variables and Types
x = 10
y = 3.5
z = 'hello'
print(type(x), type(y), type(z))

In [ ]:
# ‚ûï Arithmetic Operations
print('Add:', x + y)
print('Divide:', x / y)
print('Floor Divide:', x // y)
print('Exponent:', x ** 2)

## ‚úèÔ∏è Try It Yourself
- Create your own variables
- Try combining numbers and strings
- Use `input()` to interact

In [ ]:
# Your code here
name = input('What is your name? ')
print('Welcome,', name)

## üì§ Submit
Make sure your name is at the top in a Markdown cell.
Submit via D2L or Colab link.

In [1]:
#Dane Fitzgerald
name = input("What is your name: ")
print("Welcome" , name)

What is your name: Dane Fitzgerald
Welcome Dane Fitzgerald

In [2]:
x = float(input("Enter the first value: "))
y = float(input("Enter the second value: "))
print('Add: ', x + y)
print('Divide: ', x / y)
print('Floor Divide: ', x // y)
print('Exponent: ', x ** 2)
print("Multiply: ", x * y )
print('Subtract: ' , x - y)

Enter the first value25.2
Enter the second value20
Add:  45.2
Divide:  1.26
Floor Divide:  1.0
Exponent:  635.04
Multiply:  504.0
Subtract:  5.199999999999999