# üìÇ Notebook 03: Loading and Exploring Data

Welcome to the real world ‚Äî where data lives in messy CSVs and your job is to make sense of it.

In this notebook, you‚Äôll:
- Load a CSV file using `pd.read_csv()`
- Use `.head()`, `.tail()`, `.info()`, and `.describe()` to explore your data
- Identify potential issues (missing values, bad types, oddball rows)

Let‚Äôs get our hands dirty.
---

In [ ]:
import pandas as pd

## üì• Load a CSV

Replace the filename below with a real CSV path or URL. For testing, use built-in seaborn datasets.

In [1]:
# Example with seaborn's Titanic dataset
import seaborn as sns
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## üìä Peek at the Data

In [ ]:
# First and last few rows
print("First 5 rows:")
print(df.head())

print("\nLast 5 rows:")
print(df.tail())

## üß† Understand Structure

In [ ]:
# Dimensions and columns
print("Shape:", df.shape)
print("\nColumns:", df.columns.tolist())

## üßº Data Types & Missing Values

In [ ]:
# Data types and null counts
print("\nInfo:")
df.info()

# How many missing values per column?
print("\nMissing values per column:")
print(df.isnull().sum())

## üìà Summary Statistics

In [ ]:
df.describe(include="all")

## ‚úèÔ∏è Renaming Columns (Optional but fun)

In [ ]:
# Rename 'sex' to 'gender' for clarity
df.rename(columns={"sex": "gender"}, inplace=True)
df.head(2)

---
## üîç Your Turn

1. Load a dataset of your choice (`pd.read_csv()` or `sns.load_dataset()`)
2. Print the first and last 5 rows.
3. Show `.info()` and `.describe()` results.
4. Print the column names. Rename one of them.

üéØ **Bonus:** What percentage of rows have *any* missing values?

```python
# HINT:
df.isnull().any(axis=1).mean() * 100  # percent of rows with any NaNs
```

In [11]:
# Your exploratory code playground!
import pandas as pd
titanic = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")
print(titanic.head())
print(titanic.tail())
print(titanic.info())
print(titanic.describe())
print(titanic.columns.tolist())
titanic.rename(columns={'total_bill': 'bill'}, inplace=True)
print(titanic)
print(titanic.isnull().any(axis=1).mean() * 100)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB
None
       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000
['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']
      bill   tip     sex smoker   day    time  size
0    16.99  1.01  Female     No   Sun  Dinner     2
1    10.34  1.66    Male     No   Sun  Dinner     3
2    21.01  3.50    Male     No   Sun  Dinner     3
3    23.68  3.31    Male     No   Sun  Dinner     2
4    24.59  3.61  Female     No   Sun  Dinner     4
..     ...   ...     ...    ...   ...     ...   ...
239  29.03  5.92    Male     No   Sat  Dinner     3
240  27.18  2.00  Female    Yes   Sat  Dinner     2
241  22.67  2.00    Male    Yes   Sat  Dinner     2
242  17.82  1.75    Male     No   Sat  Dinner     2
243  18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]
0.0

---
## üéì Why This Matters

Every data science project begins here ‚Äî importing and inspecting data. If your data is a mess (spoiler: it always is), you need to know how to check it, clean it, and prep it.

Next up: slicing and dicing ‚Äî using `.loc[]`, `.iloc[]`, and boolean masks to select what you want and ignore what you don't.